@charset "UTF-8";
header{
	position: fixed;
	top: 0px;
	width: 100%; /*화면에 가로로 꽉 채우겠다*/
	height: 40ps;/* 높이는 40*/
	background-color: blue;
	color: white;
	text-align:center;/*수평 가운데 정렬*/
	line-height: 40px;/*수직 가운데 정렬*/
	font-size: 30px;
}
footer{
	position: fixed;
	bottom: 0px;
	width: 100%; /*화면에 가로로 꽉 채우겠다*/
	height: 30ps;/* 높이는 40*/
	background-color: blue;
	color: white;
	text-align:center;/*수평 정렬*/
	line-height: 30px;/*수직 정렬 height와 line height는 똑같아야 한다*/
	font-size: 15px;
}
nav{
	position: fixed;
	top: 40px;
	width: 100%; /*화면에 가로로 꽉 채우겠다*/
	height: 20ps;/* 높이는 40*/
	background-color: skyblue;
	color: white;
	line-height: 20px;/*수직 정렬 height와 line height는 똑같아야 한다*/
	padding-left:20px;/*안쪽 여백을 20px 만큼 주겠다*/
}
section{
	position: fixed;
	top: 60px;/*위에서부터 60만큼 떨어져 있어야 한다*/
	width:100%;
	height: 100%;
	background-color:lightgray;
}